<div class="row  border-bottom white-bg dashboard-header">
  <div class="col-md-8">
    <div class="ibox float-e-margins">
      <div>
        <span class="pull-right text-right">
          <small>Average value of monthly expenses </small>
          <br/>
          <%= money_format((@current_year_total_expense/12).round(2))%>
        </span>
        <h1 class="m-b-xs"><%= money_format((@current_year_total_income/12).round(2))%></h1>
        <h3 class="font-bold no-margins">
          Avg. Month Income
        </h3>
      </div>
      <div>
        <canvas id="monthlyIncomeExpenseChart" height="100"></canvas>
        <script type="text/javascript">
          var expense_data = <%= raw @current_year_expense_month_wise.values.map{|t| t.to_f }%>
          var income_data = <%= raw @current_year_income_month_wise.values.map{|t| t.to_f}%>
          monthly_income_expense_graph(income_data, expense_data);
        </script>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <h3>Top 5 Expenses for <%= Date::MONTHNAMES[Date.today.month] %></h3>
    <small>You have <%= @total_no_of_expense_record %> expense(s) and <%= @total_no_of_income_record %> income(s).</small>
    <ul class="list-group clear-list m-t">
      <% @top_6_expenses.each_with_index do |expense, index| %>
        <li class="list-group-item fist-item">
          <span class="pull-right"><%= money_format(expense.amount) %></span>
          <span class="label label-danger"><%= index+1 %></span> <%= expense.description %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="row">
    <%= render partial: '/dashboard/box', locals: {duration: 'Month', amount: @current_month_total_income, category_type: 'income', amount2: @previous_month_total_income} %>
    <%= render partial: '/dashboard/box', locals: {duration: 'Month', amount: @current_month_total_expense, category_type: 'expense', amount2: @previous_month_total_expense} %>
    <%= render partial: '/dashboard/box', locals: {duration: 'Month', amount: @current_month_total_investment, category_type: 'investment', amount2: @previous_month_total_investment} %>

    <%= render partial: '/dashboard/box', locals: {duration: 'Year', amount: @current_year_total_income, category_type: 'income', amount2: @previous_year_total_income} %>
    <%= render partial: '/dashboard/box', locals: {duration: 'Year', amount: @current_year_total_expense, category_type: 'expense', amount2: @previous_year_total_expense} %>
    <%= render partial: '/dashboard/box', locals: {duration: 'Year', amount: @current_year_total_investment, category_type: 'investment', amount2: @previous_year_total_investment} %>
  </div>

  <div class="row">
    <%= render '/dashboard/expense', category_expenses_for_current_month: @category_expenses_for_current_month %>
    <%= render '/dashboard/income', category_incomes_for_current_month: @category_incomes_for_current_month %>
    <%= render '/dashboard/investment', category_investment_for_current_month: @category_investment_for_current_month %>
  </div>
</div>
