<div class="row  border-bottom white-bg dashboard-header">
  <div class="col-md-8">
    <div class="ibox float-e-margins">      
      <div>
        <span class="pull-right text-right">
          <small>Average value of sales in the past month in </small>
          <br/>
          All sales: 162,862
        </span>
        <h1 class="m-b-xs"><%= money_format(@current_year_total_income)%></h1>
        <h3 class="font-bold no-margins">
          Yearly Income
        </h3>        
      </div>
      <div>
        <canvas id="lineChart2" height="100"></canvas>
      </div>
      <div class="m-t-md">
        <small class="pull-right">
          <i class="fa fa-clock-o"> </i>
          Update on 16.07.2015
        </small>
        <small>
          <strong>Analysis of sales:</strong> The value has been changed over time, and last month reached a level over $50,000.
        </small>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="statistic-box">
      <h4>Project Beta progress</h4>
      <p>You have two project with not compleated task.</p>
      <div class="row text-center">
        <div class="col-lg-6">
          <canvas id="doughnutChart2" width="80" height="80" style="margin: 18px auto 0"></canvas>
          <h5>Kolter</h5>
        </div>
        <div class="col-lg-6">
          <canvas id="doughnutChart" width="80" height="80" style="margin: 18px auto 0"></canvas>
          <h5 >Maxtor</h5>
        </div>
      </div>
      <div class="m-t">
        <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="row">    
    <%= render partial: '/dashboard/box', locals: {duration: 'Month', amount: @current_month_total_income, success: true, amount2: @previous_month_total_income} %>
    <%= render partial: '/dashboard/box', locals: {duration: 'Month', amount: @current_month_total_expense, success: false, amount2: @previous_month_total_expense} %>
    <%= render partial: '/dashboard/box', locals: {duration: 'Year', amount: @current_year_total_income, success: true, amount2: @previous_year_total_income} %>
    <%= render partial: '/dashboard/box', locals: {duration: 'Year', amount: @current_year_total_expense, success: false, amount2: @previous_year_total_expense} %>
  </div>
</div>