<div class="row  border-bottom white-bg dashboard-header">
  <div class="col-md-8">
    <div class="ibox float-e-margins">      
      <div>
        <span class="pull-right text-right">
          <small>Average value of monthly expenses </small>
          <br/>
          <%= money_format((@current_year_total_expense/12).round(2))%>
        </span>
        <h1 class="m-b-xs"><%= money_format((@current_year_total_income/12).round(2))%></h1>
        <h3 class="font-bold no-margins">
          Avg. Month Income
        </h3>        
      </div>
      <div>
        <canvas id="monthlyIncomeExpenseChart" height="100"></canvas>      
        <script type="text/javascript">
          var expense_data = <%= raw @current_year_expense_month_wise.values.map{|t| t.to_f }%>
          var income_data = <%= raw @current_year_income_month_wise.values.map{|t| t.to_f}%>
          monthly_income_expense_graph(income_data, expense_data);
        </script>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <h3>Top 5 Expenses for <%= Date::MONTHNAMES[Date.today.month] %></h3>
    <small>You have <%= @total_no_of_expense_record %> expense(s) and <%= @total_no_of_income_record %> income(s).</small>
    <ul class="list-group clear-list m-t">
      <% @top_6_expenses.each_with_index do |expense, index| %>
        <li class="list-group-item fist-item">
          <span class="pull-right"><%= money_format(expense.amount) %></span>
          <span class="label label-danger"><%= index+1 %></span> <%= expense.description %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="wrapper wrapper-content">
  <div class="row">    
    <%= render partial: '/dashboard/box', locals: {duration: 'Month', amount: @current_month_total_income, success: true, amount2: @previous_month_total_income} %>
    <%= render partial: '/dashboard/box', locals: {duration: 'Month', amount: @current_month_total_expense, success: false, amount2: @previous_month_total_expense} %>
    <%= render partial: '/dashboard/box', locals: {duration: 'Year', amount: @current_year_total_income, success: true, amount2: @previous_year_total_income} %>
    <%= render partial: '/dashboard/box', locals: {duration: 'Year', amount: @current_year_total_expense, success: false, amount2: @previous_year_total_expense} %>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Categorize expenses for the current month</h5>
        </div>
        <div class="ibox-content">
          <div class="col-md-6">
            <canvas id="categorize_monthly_expenses_chart"></canvas>
            <script type="text/javascript">categorize_monthly_expenses_chart(); </script>
          </div>
          <div class="col-md-6">
            <ul class="chart-list">
              <% @category_expenses_for_current_month.each_with_index do |data, index| %>                
                <li class="color<%= index < 8 ? index+1 : index-8 %>" title=<%= money_format(data['amount']) %>>
                  <font><%= data['category'] %></font>
                  <span><%= data['percent']%>%</span>
                </li>
              <% end %>                          
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Categorize incomes for the current month</h5>
        </div>
        <div class="ibox-content">
          <div class="col-md-6">
            <canvas id="categorize_monthly_incomes_chart"></canvas>
            <script type="text/javascript">categorize_monthly_incomes_chart(); </script>
          </div>
          <div class="col-md-6">
            <ul class="chart-list">
              <% @category_incomes_for_current_month.each_with_index do |data, index| %>                
                <li class="color<%= index < 8 ? index+1 : index-8 %>">
                  <font><%= data['category'] %></font>
                  <span><%= data['percent']%>%</span>
                </li>
              <% end %>                          
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

  </div>
</div>
