<div class='wrapper wrapper-content animated fadeInRight'>
  <div class='row'>
    <div class='col-lg-12'>
      <div class='ibox float-e-margins'>
        <div class='ibox-content'>
          <%= form_for [:admin, category], html: {class: 'form-horizontal'} do |f| %>
            <div class="form-group">
              <%= f.label :name, class: 'col-sm-2 control-label' %>
              <div class="col-sm-8">
                <%= f.text_field :name, placeholder: 'Category Name', class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :category_type_id, class: 'col-sm-2 control-label' %>
              <div class="col-sm-8">
                <%= f.select :category_type_id, options_for_select(Rails.application.secrets.category_types.invert.to_a, f.object.category_type_id), {include_blank: false}, {class: 'form-control'} %>
              </div>
            </div>
            <div class="hr-line-dashed"></div>
            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <%= link_to 'Cancel', admin_categories_url, class: 'btn btn-white', data: {disable_with: 'Please Wait...'} %>
                <%= f.submit class: 'btn btn-primary', data: {disable_with: 'Please Wait...' } %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>