<div class='wrapper wrapper-content animated fadeInRight'>
  <div class='row'>
    <div class='col-lg-9'>
      <div class='ibox float-e-margins'>
        <div class="ibox-title">
          <h5><%= type.capitalize %> Transaction</h5>
        </div>
        <div class='ibox-content'>
          <%= form_for transaction, html: {class: 'form-horizontal'} do |f| %>
            <div class="form-group">
              <%= f.label :description, class: 'col-sm-2 control-label' %>
              <div class="col-sm-8">
                <%= f.text_field :description, placeholder: 'Transaction Summary', class: 'form-control' %>                
              </div>
            </div>

            <div class="form-group">
              <%= f.label :transaction_date, 'Date', class: 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <%= f.text_field :transaction_date, value: f.object.transaction_date.present? ? f.object.transaction_date.strftime('%d/%m/%Y') : '', placeholder: 'Transaction Date', class: 'form-control datepicker' %>
              </div>

              <%= f.label :amount, 'Amount', class: 'col-sm-2 control-label' %>
              <div class="col-sm-3">
                <%= f.text_field :amount, placeholder: 'Amount', class: 'form-control' %>
              </div>
            </div>

            <div class="form-group">              
              <label class="col-sm-2 control-label">&nbsp;&nbsp;</label>
              <div class="col-sm-3">
                <div class="i-checks">
                  <% if type == 'income' %>
                    <label><%= f.check_box :is_received %> <i></i> It's Received </label>  
                  <% else %>
                    <label><%= f.check_box :is_paid %> <i></i> It's Paid </label>
                  <% end %>
                </div>
              </div>              
              <div class="col-sm-2">
                <div class="i-checks">
                  <label> <%= f.check_box :is_favorite %> <i></i> Favorite </label>
                </div>
              </div>              
              <div class="col-sm-3">
                <div class="i-checks">
                  <label> <%= f.check_box :is_repeat %> <i></i> Repeat / <small>Every Month</small> </label>
                </div>
              </div>              
            </div>
            <div class="form-group">
              <%= f.label :category_id, class: 'col-sm-2 control-label' %>
              <div class="col-sm-8">
                <% if type == 'expense' %>
                  <%= f.select :category_id, options_for_select(expense_categories.map{|t| [t.name, t.id]}, f.object.category_id), {include_blank: false}, {class: 'form-control chosen-select'} %>
                <% else %>
                  <%= f.select :category_id, options_for_select(income_categories.map{|t| [t.name, t.id]}, f.object.category_id), {include_blank: false}, {class: 'form-control chosen-select'} %>
                <% end %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :payment_type_id, class: 'col-sm-2 control-label' %>
              <div class="col-sm-8">
                <%= f.select :payment_type_id, options_for_select(Rails.application.secrets.payment_types.invert.to_a, f.object.payment_type_id), {include_blank: false}, {class: 'form-control'} %>
              </div>
            </div>

            <div class="hr-line-dashed"></div>
            <div class="form-group">
              <div class="col-sm-8 col-sm-offset-2">
                <%= link_to 'Cancel', transactions_url, class: 'btn btn-white', data: {disable_with: 'Please Wait...'} %>
                <%= f.submit "#{f.object.new_record? ? 'Add' : 'Update'} #{type.capitalize}", class: 'btn btn-primary', data: {disable_with: 'Please Wait...' } %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>