<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-lg-8'>
    <h2>Monthly Expenses Transaction Summary</h2>
    <ol class='breadcrumb'>
      <%= render_breadcrumbs tag: :li %>
    </ol>    
  </div>
</div>

<div class='wrapper wrapper-content animated fadeInRight'>
  <%= render partial: '/transactions/monthly_what' %>
  <div class='row'>
    <div class='col-lg-12'>
      <div class='ibox float-e-margins'>
        <div class="ibox-title">
          <%= form_tag monthly_expenses_transactions_url, method: :get do %>
            <div class="col-sm-2 month-dropdown">
              <%= select_tag :month, options_for_select( (1..12).to_a.map{|month| [Date::MONTHNAMES[month], month]}, params[:month].present? ? params[:month].to_i : Date.today.month), class: 'form-control' %>
            </div>
            <div class="col-sm-2 month-dropdown">
              <%= select_tag :year, options_for_select( (Date.today.year-5..Date.today.year).to_a.map{|year| year}, params[:year].present? ? params[:year].to_i : Date.today.year), class: 'form-control' %>
            </div>
            <div class="col-sm-2 month-dropdown">
              <%= submit_tag 'Search', class: 'btn btn-primary btn-xs' %>
            </div>
          <% end %>
        </div>      
        <div class='ibox-content'>
          <div class='table-responsive'>
            <% if transactions.expenses.present? %>  
              <table class='table table-hover' >
                <thead>
                  <tr>                  
                    <th class="col-sm-5">Summary</th>
                    <th>Category</th>
                    <th>Payment Type</th>
                    <th>Type</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="2"></td>
                    <td colspan="2" class="text-center"><strong>Total Expenses</strong></td>
                    <td><strong><%= money_format(transactions.expenses.map(&:amount).sum()) %></strong></td>
                  </tr>
                  <% transactions.expenses.group_by{|t| t.transaction_date}.each do |key, values| %>
                    <tr>
                      <td colspan="5"><strong><%= local_date(key) %></strong></td>
                    </tr>
                    <% values.each do |transaction| %>
                      <tr>                                          
                        <td><i class="fa fa-angle-right"></i> &nbsp; <%= transaction.description %></td>
                        <td><%= transaction.try(:category).try(:name) %></td>
                        <td><%= transaction.payment_type %></td>
                        <td><%= transaction.transaction_type %></td>
                        <td><%= money_format(transaction.amount) %></td>
                      </tr>
                    <% end %>
                    <tr>
                      <td colspan="3"></td>
                      <td><strong>Total</strong></td>
                      <td><strong><%= money_format(values.map(&:amount).sum) %></strong></td>
                    </tr>
                  <% end %>
                  <tr>
                    <td colspan="2"></td>
                    <td colspan="2" class="text-center"><strong>Total Expenses</strong></td>
                    <td><strong><%= money_format(transactions.expenses.map(&:amount).sum()) %></strong></td>
                  </tr>                  
                </tbody>
              </table>
            <% else %>
              <p>No Transactions Found </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>