<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-lg-10'>
    <h2>Transaction</h2>
    <ol class='breadcrumb'>
      <%= render_breadcrumbs tag: :li %>
    </ol>
  </div>
  <div class='col-lg-2'>
    <p class='add-record text-right'>
      <%= link_to transactions_url, data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading...".html_safe} do %>
        <i class="fa fa-money"></i> List Transactions
      <% end %>
    </p>
  </div>
</div>

<div class='wrapper wrapper-content animated fadeInRight'>
  <div class='row'>
    <div class='col-lg-12'>
      <div class='ibox float-e-margins'>
        <div class='ibox-content'>
          <div class='table-responsive'>
            <%= link_to edit_transaction_path(transaction), data: {disable_with: "<i class='fa fa-spinner'></i> Edit".html_safe} do %>
              <i class="fa fa-pencil"></i> Edit
            <% end %>
            <%= link_to transaction_path(transaction), method: :delete, data: {disable_with: "<i class='fa fa-spinner'></i> Delete".html_safe, confirm: 'Are you sure want to delete this transaction ?'} do %>
              <i class="fa fa-trash"></i> Delete
            <% end %>

            <table class='table table-bordered table-hover'>
              <tr>
                <td class="col-lg-3">ID</td>
                <td><%= transaction.id %></td>
              </tr>
              <tr>
                <td class="col-lg-3">Description</td>
                <td><%= transaction.description %></td>
              </tr>
              <tr>
                <td class="col-lg-3">Amount</td>
                <td><%= money_format(transaction.amount) %></td>
              </tr>
              <% if transaction.transaction_type_id == 1 %>
                <tr>
                  <td class="col-lg-3">Amount Paid</td>
                  <td><%= transaction.is_paid? ? 'Yes' : 'No' %></td>
                </tr>
              <% else %>
                <tr>
                  <td class="col-lg-3">Amount Received</td>
                  <td><%= transaction.is_received? ? 'Yes' : 'No' %></td>
                </tr>
              <% end %>
              <tr>
                <td class="col-lg-3">Favorite</td>
                <td><%= transaction.is_favorite? ? 'Yes' : 'No' %></td>
              </tr>
              <tr>
                <td class="col-lg-3">Category</td>
                <td><%= transaction.category.name %></td>
              </tr>
              <tr>
                <td class="col-lg-3">Payment Type</td>
                <td><%= transaction.payment_type %></td>
              </tr>
              <tr>
                <td class="col-lg-3">Repeat</td>
                <td><%= transaction.is_repeat? ? 'Yes' : 'No' %></td>
              </tr>
              <tr>
                <td class="col-lg-3">Transaction Type</td>
                <td><%= transaction.transaction_type %></td>
              </tr>
              <tr>
                <td class="col-lg-3">Transaction Date</td>
                <td><%= local_date(transaction.transaction_date) %></td>
              </tr>
              <tr>
                <td class="col-lg-3">Created At</td>
                <td><%= local_time(transaction.created_at) %></td>
              </tr>
              <tr>
                <td class="col-lg-3">Updated At</td>
                <td><%= local_time(transaction.updated_at) %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>