<li class="<%= 'active' if controller.controller_name == 'categories' %>">
  <%= link_to categories_url do %>
    <i class="fa fa-list"></i>
    <span class="nav-label">Category</span>
  <% end %>          
</li>
<li class="<%= 'active' if controller.controller_name == 'transactions' %>">
  <a href="javascript:void(0);">
  	<i class="fa fa-money"></i>
  	<span class="nav-label">Transactions</span>
  	<span class="fa arrow"></span>
  </a>
  <ul class="nav nav-second-level collapse" style="height: 0px;">
    <li class="<%= 'active' if controller.action_name == 'index' %>">
    	<%= link_to 'Generals', transactions_url %>    	
    </li>
    <li class="<%= 'active' if controller.action_name == 'monthly_expenses' %>">
    	<%= link_to 'Monthly Expenses', monthly_expenses_transactions_url, class: 'loader-display' %>    		
    </li>
    <li class="<%= 'active' if controller.action_name == 'monthly_incomes' %>">
    	<%= link_to 'Monthly Incomes', monthly_incomes_transactions_url, class: 'loader-display' %>    		
    </li>
    <li class="<%= 'active' if controller.action_name == 'yearly_expenses' %>">
      <%= link_to 'Yearly Expenses', yearly_expenses_transactions_url, class: 'loader-display' %>        
    </li>
    <li class="<%= 'active' if controller.action_name == 'yearly_incomes' %>">
      <%= link_to 'Yearly Incomes', yearly_incomes_transactions_url, class: 'loader-display' %>        
    </li>    
  </ul>  
</li>
<li class="<%= 'active' if controller.controller_name == 'accounts' %>">
  <a href="javascript:void(0);">
    <i class="fa fa-university"></i>
    <span class="nav-label">Accounts</span>
    <span class="fa arrow"></span>
  </a>
  <ul class="nav nav-second-level collapse" style="height: 0px;">
    <li class="<%= 'active' if controller.action_name == 'profit_and_loss' %>">
      <%= link_to 'Profit and Loss', profit_and_loss_accounts_url, class: 'loader-display' %>     
    </li>
    <li class="<%= 'active' if controller.action_name == 'balance_sheet' %>">
      <%= link_to 'Balance Sheet', balance_sheet_accounts_url, class: 'loader-display' %>       
    </li>
  </ul>  
</li>