<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personal Finance Manager</title>
    <!-- CSS -->
    <%= RailsCriticalCssServer::Rewrite.call self do %>
      <%= stylesheet_link_tag 'welcome', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% end %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="/assets/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- Loader -->
    <div class="loader hide">
      <div class="loader-img hide"></div>
    </div>
    <!-- Top content -->
    <div class="top-content">
      <!-- Top menu -->
      <%= render partial: '/layouts/welcome/header' %>
      <%= yield %>
      <div class="backstretch"><%= image_tag('landing/1.jpg')%></div>
    </div>
    <% if controller.controller_name == 'welcome' %>
      <!-- Features -->
      <%= render partial: '/layouts/welcome/feature' %>
      <!-- How it works -->
      <%= render partial: '/layouts/welcome/how_it_work' %>
      <!-- Pricing -->
      <%= render partial: '/layouts/welcome/pricing' %>
      <!-- Call to action -->
      <%= render partial: '/layouts/welcome/call_to_action' %>
      <!-- About us -->
      <%= render partial: '/layouts/welcome/about_us' %>
      <!-- Testimonials -->
      <%= render partial: '/layouts/welcome/testimonials' %>
      <!-- Footer -->
      <%= render partial: '/layouts/welcome/footer' %>
    <% end %>
    <%= render partial: '/layouts/welcome/popup' %>
    <%= javascript_include_tag 'welcome', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 10]>
      <script src="/assets/js/placeholder.js"></script>
    <![endif]-->
  </body>
</html>