<div class='row wrapper border-bottom white-bg page-heading'>
  <div class='col-lg-8'>
    <h2>Profit And Loss Statement</h2>
    <ol class='breadcrumb'>
      <%= render_breadcrumbs tag: :li %>
    </ol>    
  </div>
</div>

<div class='wrapper wrapper-content animated fadeInRight'>
  <%= render 'accounts/filters' %>
  
  <div class='row'>
    <div class='col-lg-12'>

      <div class='ibox float-e-margins'>

				<div class="ibox-title">
        	<h5 class="text-center"><%= display_header_for_profit_and_loss_statement(params) %></h5>
        </div>

        <div class='ibox-content'>

					<table class="table table-bordered">
            <!--  INCOME SECTION -->
            <%= render '/accounts/statement', obj: @incomes, type: 'Incomes' %>
            <!-- EXPENSES SECTION -->
            <%= render '/accounts/statement', obj: @expenses, type: 'Expenses' %>
            <!-- PROFIT AND LOSS STATEMENT -->
            <thead>
              <tr>
                <th>PROFIT / LOSS</th>
                <th class="col-sm-3 text-right <%= profit_or_loss_amount(total_expenses_or_income(@incomes), total_expenses_or_income(@expenses)).positive? ? 'text-navy' : 'text-danger' %>"><%= display_profit_and_loss_amount(@incomes, @expenses) %></th>
              </tr>
            </thead>
          </table>

        </div>
      </div>

    </div>
  </div>
</div>